@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; }

main {
  grid-area: main; }

.hero div h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

header {
  background-color: #fff;
  grid-area: header; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav .inicio {
      list-style: none;
      display: flex;
      align-items: center;
      flex: 1; }
      header nav .inicio li a {
        text-decoration: none;
        padding: 0 1.6rem;
        font-family: "Oswald", sans-serif;
        font-size: 1.4em;
        color: black; }
        header nav .inicio li a:hover {
          color: #FCA311;
          text-decoration: underline;
          transition: all 0.3s ease; }
    header nav .logo {
      display: flex;
      justify-content: center; }
      header nav .logo img {
        width: 70px;
        height: 70px; }
    header nav .iconos {
      flex: 1;
      display: flex;
      justify-content: right; }
      header nav .iconos li {
        text-decoration: none;
        padding: 25px;
        list-style: none; }
        header nav .iconos li a {
          padding: 20px; }
        header nav .iconos li img {
          width: 30px;
          height: 30px; }

.hero div h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ---MAIN INDEX---*/
.hero {
  background-image: url("../img/img-1.png");
  height: 80vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .hero div {
    text-align: center;
    color: gainsboro; }
    .hero div h1 {
      font-style: oblique;
      font-family: "Oswald", sans-serif;
      font-size: 80px;
      flex-direction: column;
      padding: 4rem;
      gap: 1rem; }
    .hero div img {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; }

.productosDestacados {
  text-align: center; }
  .productosDestacados h2 {
    margin-top: 50px;
    font-family: "Oswald", sans-serif; }
  .productosDestacados div {
    display: inline-block;
    margin: 70px; }
    .productosDestacados div img {
      width: 180px;
      height: 120px; }
    .productosDestacados div h3 {
      font-family: "Oswald", sans-serif; }
    .productosDestacados div h4 {
      padding: 10px;
      font-family: "Oswald", sans-serif; }

.esperando {
  background-image: url("../img/img-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .esperando div h2 {
    background-color: rgba(0, 0, 0, 0.308);
    padding: 1rem;
    color: azure;
    font-size: 60px;
    font-family: "Oswald", sans-serif; }

/* ---MAIN ACERCA DE---*/
.heroA section div img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%; }

.heroA .encontranos {
  background-image: url("../img/img-4.png");
  background-size: contain;
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6rem; }
  .heroA .encontranos h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: azure; }
  .heroA .encontranos div {
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .heroA .encontranos div h3 {
      text-align: center;
      font-size: x-large;
      font-family: "Oswald", sans-serif;
      color: aliceblue; }

.heroA .horarios h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 60px;
  font-family: "Oswald", sans-serif; }

.heroA .horarios div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .heroA .horarios div img {
    width: 800px;
    margin: 1rem 0 1.5rem 0; }
  .heroA .horarios div h3 {
    text-align: center;
    font-size: 1.6em;
    font-style: italic;
    border: 1px solid black;
    margin-bottom: 10px; }

/* ---MAIN CATALOGO---*/
.catalogo h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 3rem 0; }

.catalogo .section1 {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  .catalogo .section1 .products {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem 10rem;
    font-family: "Oswald", sans-serif; }
    .catalogo .section1 .products img {
      width: 350px; }
    .catalogo .section1 .products .prod {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 8px #0005;
      padding: 2rem; }

/* ---MAIN METODO DE PAGO---*/
.heroM h2 {
  margin-top: 10px;
  font-family: "Oswald", sans-serif; }

.heroM div {
  margin-bottom: 100px;
  text-align: center; }
  .heroM div h2 {
    position: relative;
    top: 10px;
    text-align: center;
    margin-bottom: 90px; }
  .heroM div img {
    width: 45%;
    height: 45%; }

.heroM .gridContenedor {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "mp mp mp " "cripto efectivo paypal"; }
  .heroM .gridContenedor .mercadoPago {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: mp; }
  .heroM .gridContenedor .cripto {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    grid-area: cripto; }
  .heroM .gridContenedor .paypal {
    width: 100%;
    height: 100%;
    grid-area: paypal; }
  .heroM .gridContenedor .efectivo {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    grid-area: efectivo; }

.hero div h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.redes {
  border-top: solid 2px black;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .redes h3 {
    font-size: 1.6em;
    font-family: "Oswald", sans-serif; }
  .redes .footerBox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
    flex-direction: column; }
    .redes .footerBox .iconosRedes img {
      width: 40px; }
    .redes .footerBox .contacto {
      display: flex;
      font-family: "Oswald", sans-serif;
      color: #242424;
      font-size: 1.2em;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .redes .footerBox .contacto h3 {
        font-weight: bold;
        font-size: 1.2em; }

.hero div h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1050px) {
  .products {
    grid-template-columns: repeat(2, 1fr); }
  .iconos li img {
    width: 20px;
    height: 20px; }
  .catalogo h2 {
    font-size: 23px; } }

@media screen and (max-width: 600px) {
  .iconos li img {
    width: 20px;
    height: 20px; }
  .catalogo h2 {
    font-size: 23px; } }

@media screen and (max-width: 1050px) {
  .inicio li a {
    font-size: .9em;
    padding: 30px;
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  .inicio li a {
    font-size: .9em;
    padding: 30px;
    display: flex;
    flex-direction: column; }
  .gridContenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mp" "cripto" "paypal" "efectivo"; } }

@media screen and (max-width: 1024px) {
  .inicio li a {
    font-size: .9em;
    padding: 30px;
    display: flex;
    flex-direction: column; }
  .hero div h1 {
    font-size: 55px; }
  .esperando h2 {
    font-size: 30px; }
  .redes h3 {
    font-size: smaller; }
  .redes .iconosRedes img {
    width: 55px;
    height: 50px; }
  .prod h3 {
    font-size: 20px; }
  .prod h4 {
    font-size: 20px; }
  .products {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px; }
  .gridContenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: "mp mp" "cripto paypal" "efectivo ."; } }

@media screen and (max-width: 728px) {
  .inicio li a {
    font-size: .9em;
    padding: 30px;
    display: flex;
    flex-direction: column; }
  .hero div h1 {
    font-size: 35px; }
  .esperando h2 {
    font-size: 25px; }
  .redes h3 {
    font-size: smaller; }
  .redes .iconosRedes img {
    width: 48px;
    height: 40px; }
  .prod h3 {
    font-size: 16px; }
  .prod h4 {
    font-size: 16px; } }
