@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
 box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
}

 /*--------HEADER------*/

header nav ul li{
    display: inline;
  
    list-style: none;
    

}
header nav ul li a{
text-decoration: none;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
header nav img {
    width: 70px;
    height: 50px;
}
header{
    background-color: #fff;
    grid-area: header;
    position: sticky;
}
header nav ul {
    display: inline-block;
}
.inicio  {
    text-decoration: none;
    flex: 1;
    display: flex;
    justify-content: center;
}

.inicio li a:hover{
    color:#FCA311;
    text-decoration: underline;
    transition: all 0.3s ease;
}



.inicio li a{
    
    text-decoration: none;
    list-style: none;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
   
    
}
.iconos{
    flex: 1;
    display: flex;
    justify-content: center;
}



.logo {
    flex: 1;
    display: flex;
    justify-content: center;

}

.logo img {

    width: 70px;
    height: 70px;


}

.iconos li a {
    padding: 20px;
}
.iconos li {
    text-decoration: none;
    padding: 25px;
    list-style: none;
    
}
.iconos li img {
    width: 30px;
    height: 30px;
}


.iconos li {
    text-decoration: none;    
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


  /*--------MAIN------*/

main{
    grid-area: main;
}   

  .hero {
    background-image: url("../img/img-1.png");
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero div h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style:oblique ;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    flex-direction: column;
    padding: 4rem ;
    gap: 1rem;
    
    
}
.hero div img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero div {
    text-align: center;
    color: gainsboro;
}

.productosDestacados div img{
    width: 180px;
    height: 120px;
}
.productosDestacados div {

    display: inline-block;
     margin: 70px;
    
}

.productosDestacados h2 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    
}

.productosDestacados div h4 {
    padding: 10px;
}

.productosDestacados {
    text-align: center;
}
.esperando div img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.esperando div h2 {
    position: relative;
    top: 200px;
    color: azure;
    text-align: center;
    font-size: 60px
    ;
    font-family: 'Oswald', sans-serif;
}
.catalogo section div img {
    width: 100%;
    
  
}

.catalogo h2 {
    font-family: 'Oswald', sans-serif;
    
text-align: center;
margin: 3rem 0;


}

.prod{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #0005;
    padding: 4rem;
   
}




.section1{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    
}


 
.products {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem 12rem;
}

@media  screen and (max-width:1050px) {
    .products{
        grid-template-columns: repeat(2,1fr);

        
    }
    .iconos li img {
        width: 20px;
        height: 20px;
    }

    .catalogo h2 {
        font-size:  23px;
    }
}

@media  screen and (max-width:600px) {
    .products{
        grid-template-columns: repeat(1,1fr);
        padding-top: 50px;
         

        
    }
    .iconos li img {
        width: 20px;
        height: 20px;
    }

    .catalogo h2 {
        font-size:  23px;
    }
}

    




.heroA section div img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 80%;

}


.heroM  div{
   margin-bottom: 100px;
   text-align: center;

   
}

.heroM h2{
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}


.heroM div h2 {
     position: relative;
    top: 10px;
    text-align: center;
    margin-bottom: 90px
    ;

}

.heroM  div img {
    width: 45%;
    height: 45%;
 
}

.gridContenedor {
    
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "mp mp mp "
    "cripto efectivo paypal"
    

    ;
    
}

.mercadoPago {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: mp;
}

.cripto {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height:100%;
    grid-area: cripto;
}

.paypal {  
     
     width: 100%;
    height:100%;
    grid-area: paypal;
}

.efectivo {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    grid-area: efectivo;
}

@media screen and (max-width: 1050px){
    .inicio li a {
        font-size: .9em;
        padding: 30px;
        display: flex;
        flex-direction:column

    }
    .gridContenedor {
     grid-template-columns: 1fr 1fr;
     grid-template-rows:.5fr .5fr ;   
    grid-template-areas: 
    "mp mp"
    "cripto paypal"
    "efectivo ."

    ;
    }
  
}

@media screen and (max-width: 900px){
    .inicio li a {
        font-size: .9em;
        padding: 30px;
        display: flex;
        flex-direction:column
        
    }
    .gridContenedor {
        
     grid-template-columns: 1fr ;
     grid-template-rows:1fr 1fr 1fr 1fr  ;   
        grid-template-areas: 
        "mp"
        "cripto"
        "paypal"
        "efectivo"

        
        ;
    
    }
  

 footer div  img {
    width: 50px;


   }
    
}







.acercaDeB{
    background-image: url( "../img/img-3.png.crdownload") ;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.desde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 2rem ;
    gap: 1rem;
}

.acercaDeB div h2 {
    
   font-size: 40px;
   color: white;
   font-family: 'Oswald', sans-serif;
   text-align: center;
    
}
.acercaDeB div h3 {
    
     
   font-size: 25px;
    color: white;
   font-weight: 200;
   font-family: 'Oswald', sans-serif;


    
}

 




.encontranos {
    background-image: url("../img/img-4.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.encontranos h2 {
    font-size: 30px;
    color: azure;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 30px;
    
}

.encontranos div {
    position: relative;
    left: 250px;

}

.encontranos div h3{
    font-size: x-large;
    font-style: oblique;
    color: aliceblue;
    position: relative;
    right: 100px;


}

.horarios h2 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    
}

.horarios div {
    position: relative;
left: 650px    

}

.horarios div h3 {
    text-align: center;
    font-size: larger;
    font-style: italic;
    border: 1px solid black;
    margin-bottom: 10px;
    }
    
    .horarios div  {
        width: 40%;
        height: 40%;
    
    }
    





   /*--------FOOTER------*/

 

.redes  {
font-size: 30px;
border-top: solid 2px black;


}
.redes div img{
    width: 3%;
    height: 3%;  
    

}

 .iconosRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    
    
 }
 .redes h3 {
    
    grid-area: footer;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer h3{
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
}

 .contacto h4 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    margin-left: 20px;
    
 }
