@import "../base/variables";
.redes {
    border-top: solid 2px black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        font-size: 1.6em;
        font-family: $fuente-principal;
    }
    .footerBox {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        gap: 1rem;
        flex-direction: column;
        .iconosRedes {
            img {
                width: 40px;
            }

        }
        .contacto {
            display: flex;
            font-family: $fuente-principal;
            color: rgb(36, 36, 36);
            font-size: 1.2em;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

}