@import "../base/variables";


header {
    background-color: #fff;
    grid-area: header;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .inicio{
            list-style: none;
            display: flex;
            
            align-items: center;
            flex: 1;

            li{
                a{
                    text-decoration: none;
                    padding: 0 1.6rem;
                    font-family: $fuente-principal;
                    font-size: 1.4em;
                    color: black;
                    &:hover {
                        color:#FCA311;
                        text-decoration: underline;
                        transition: all 0.3s ease;
                    }
                }
            }

        }
            .logo {
                
                display: flex;
                justify-content: center;
                 img{
                       width: 70px;
                        height: 70px;
                     }
            }
            .iconos {            
                flex: 1;
                display: flex;
                justify-content: right;       
                li{
                    text-decoration: none;
                    padding: 25px;
                    list-style: none;

                    
                    a {
                        padding: 20px;
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                
                }
            }




    }




}