@media  screen and (max-width:1050px) {
    .products{
        grid-template-columns: repeat(2,1fr);

        
    }
    .iconos {
        li{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .catalogo {
        h2{
            font-size:  23px;
        }
    }

}

@media  screen and (max-width:600px){

    .iconos {
        li{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    .catalogo {
        h2{
            font-size:  23px;
        }
    }
    
     
    
}

@media screen and (max-width: 1050px){
    .inicio {
        li{
            a{
                font-size: .9em;
                padding: 30px;
                display: flex;
                flex-direction:column  
            }
        }
    }

}

@media screen and (max-width: 900px){
    .inicio {
        li{
            a{
                font-size: .9em;
                padding: 30px;
                display: flex;
                flex-direction:column  
            }
        }
    }
    .gridContenedor {
        
        grid-template-columns: 1fr ;
        grid-template-rows:1fr 1fr 1fr 1fr  ;   
           grid-template-areas: 
           "mp"
           "cripto"
           "paypal"
           "efectivo"
   
           
           ;
       
       }
     

}

@media screen and (max-width:1024px){
    .inicio {
        li{
            a{
                font-size: .9em;
                padding: 30px;
                display: flex;
                flex-direction:column  
            }
        }
    }

    .hero{
        div{
            h1{
                font-size: 55px;

            }
        }
    }

    .esperando{

    
        h2{
           font-size: 30px; 
        }
    }
    .redes{
        h3{
            font-size: smaller;
        }
        .iconosRedes{
            img{
                width: 55px;
                height: 50px;
            }
        }
    }

    .prod{
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 20px;
        }
    }
    .products{
        grid-template-columns: repeat(2,1fr);
        padding-top: 50px;
        
    }

    .gridContenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:.5fr .5fr ;   
       grid-template-areas: 
       "mp mp"
       "cripto paypal"
       "efectivo .";
    } 
       
}


@media screen and (max-width:728px){
    .inicio {
        li{
            a{
                font-size: .9em;
                padding: 30px;
                display: flex;
                flex-direction:column  
            }
        }
    }

    .hero{
        div{
            h1{
                font-size: 35px;

            }
        }
    }

    .esperando{
        
        h2{
           font-size: 25px; 
        }
    }
    .redes{
        h3{
            font-size: smaller;
        }
        .iconosRedes{
            img{
                width: 48px;
                height: 40px;
            }
        }
    }

    .prod{
        h3{
            font-size: 16px;
        }
        h4{
            font-size: 16px;
        }
        
    }


}